<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.xuqingquan.m3u8downloader">

    <application>
        <service
            android:name="com.downloader.dline.DLNAService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>